OPENAI_API_KEY="<OPENAI_API_KEY>"
OPENAI_MODEL_NAME="gpt-4.1"
ODOO_URL = "The odoo URL like http://localhost:8069"
ODOO_DB = "odoo_db"
ODOO_USERNAME = "username"
ODOO_PASSWORD = "password"
REVIEW_PROJECT_ID = 
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY="<LangSmith_KEY>"
LANGSMITH_PROJECT="Huma Agent"
